<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="/style/style.css">
    <title>groupie-tracker</title>
</head>
<body>
    <h1 class="h1">Groupie-Tracker</h1>
    <div class="art">
        <img src="/style/pinkfloyd.jpeg" alt="artist" class="img">
        <div class="sh">
            <form action="/index2.html" method="get">
                <input type="submit" value="show artist" class="submet">
            </form>
        </div>
    </div>
   
</body>
</html>